<div class="container-fluid row tight" style="height: 100%; padding-bottom: 2px;">
    <div id="{{ target }}" element-type="{{ file_type }}" grid-id="{{ grid_id }}" autorun="{{ autorun }}"
        class="col clarama-element clarama-post-embedded clarama-edit-element slate-panel-target tight"
        url="{{ embedded_url }}">
    </div>
    <div id="grid-elem-dropdown-{{ target }}" class="dropdown col-auto align-middle tight"
        style="position: absolute; top: 4px; right: 3px;">
        <i class="bi bi-three-dots-vertical element_editor grid-elem-menu" data-bs-toggle="dropdown"
            aria-expanded="false" target="{{ target }}" elems="{{ grid_id }}"></i>
        <ul class="dropdown-menu embedded-dropdown-menu grid-element-dropdown-menu">
            <li class="dropdown-item">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon3"><a href="/content/edit/{{ element_content_url }}" target="new">{{ target_element['url'] }}</a></span>

                    <span class="input-group-text">?</span>

                    <input type="text" class="form-control" id="paramsInput" placeholder="my_param=something"
                            value="{{ target_element['params'] }}">


                    <button class="btn btn-outline-primary" type="button" id="saveParamsBtn" onclick="saveElementParams('{{ target }}')"><i class="bi bi-floppy"></i></button>


                    <button class="btn btn-outline-primary" type="button" id="saveParamsBtn" onclick="delete_element('{{ target }}')"><i class="bi bi-trash"></i></button>
                </div>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            {% if field %}
            <li class="dropdown-item">
                <select class="form-control">
                    <option id="text_left">Left-Aligned Text</option>
                    <option id="text_right">Right-Aligned Text</option>
                    <option id="text_top">Text appears on top</option>
                    <option id="text_bottom">Text appears underneath</option>
                    <option id="tight">Grouped. Text appears on left, boxed, with a</option>
                    <option id="tight">Tight (small, title only)</option>
                    <option id="basic">Basic (No text shown)</option>
                </select>
            </li>
            {% else %}
            <li class="dropdown-item d-flex">
                <input type="checkbox" {{ get_checked }} id="{{ target }}_refresh" class="me-1">
                <label class="form-check-label">Auto-Refresh Task</label>
            </li>
            {% endif %}
            <li class="dropdown-item">

            </li>
            {% if grid_id %}
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <h6 class="dropdown-header">Interactions: <i class="bi bi-plus-circle grid-interaction-add" data-bs-toggle="modal"
                    data-bs-target="#interactionSettingsModal" onclick="openInteractionSettings('{{ target }}')" style="cursor: pointer;"></i></h6>
            </li>
            <div id="grid_element_target-{{ target }}">
                {% for link in elements[target]['links'] %}
                    {% set loop_index = loop.index-1 %}
                    {% if link.element is defined %}
                        {% set current_element = link.element %}
                        {% set current_element_url = link.url %}
                        {% set current_element_params = link.params %}
                    {% else %}
                        {% set current_element = link %}
                        {% set current_element_url = elements[link]['url'] %}
                        {% set current_element_params = elements[link]['params'] %}
                    {% endif %}
                    {% include "explorer/steps/grid_edit_interaction.html" %}
                {% endfor %}
            </div>
            {% endif %}
        </ul>
    </div>
</div>