<div class="modal fade" tabindex="-1" id="addfieldModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Content (Fields or Tasks)</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- <p>Select Content</p> -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb" id="breadcrumb_addfield">
          </ol>
        </nav>

        <select id="add_content_addfield"
                name="add_content"
                size="10"
                class="form-control">

        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"
                              onclick="add_selected_content('/content/element/{{ file_url }}')">Add
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" id="browseFileModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Browse File</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb" id="breadcrumb_browsefile">
          </ol>
        </nav>

        <select id="add_content_browsefile"
                name="add_file"
                size="10"
                class="form-control">
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"
                              onclick="add_selected_file()">Add
        </button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function isDict(v) {
    return typeof v==='object' && v!==null && !(v instanceof Array) && !(v instanceof Date);
  }

  $( document ).ready(() => {
    $('#addfieldModal').on('shown.bs.modal', function () {
      filters = $(".gridaddcontent").attr('filters');
      path = ($CLARAMA_ROOT + '/content/json/{{ file_url | path }}?subfolders=True&extensions=' + filters);

      navigateToPath(path, 'breadcrumb_addfield', 'add_content_addfield');
    });

    $('#browseFileModal').on('shown.bs.modal', function () {
      filters = $(".gridbrowsefile").attr('filters');
      console.log(filters)
      path = ($CLARAMA_ROOT + '/content/json/{{ file_url | path }}?subfolders=True&extensions=' + filters);

      navigateToPath(path, 'breadcrumb_browsefile', 'add_content_browsefile');
    });

    //console.log("GRID");
    //console.log({{ grid_id }}elements);
    //console.log({{ grid_json | safe }});
  });

  const {{ grid_id }}elements = {{ element_json | safe }};

  let {{ grid_id }}subOptions = {
    cellHeight: 55, // should be 50 - top/bottom
    acceptWidgets: true, // will accept .grid-stack-item by default
    margin: 2,
    sizeToContent: true,
    subGridDynamic: false, // make it recursive for all future sub-grids
  };

  let {{ grid_id }}options = { // main grid options
    cellHeight: 55,
    margin: 2,
    float: true,
    minRow: 1, // don't collapse when empty
    acceptWidgets: true,
    subGridOpts: {{ grid_id }}subOptions,
    removable: '.trash',
    draggable: {cancel: '.no-drag'},
    subGridDynamic: false, // v7 api to create sub-grids on the fly
    children: {{ grid_json | safe }}
  };

  // document.querySelector('#saved').value = JSON.stringify(options);
  let {{ grid_id }}grid = GridStack.addGrid(document.querySelector('#containment-wrapper'), {{ grid_id }}options);

  function addNested() {
    {{ grid_id }}grid.addWidget({
      x: 0, y: 20, w: 4, h: 4,
      cellHeight: 75,
      margin: 2,
      minRow: 1, // don't collapse when empty
      acceptWidgets: true,
      removable: '.trash',
      subGridOpts: {
        children: [],
        ...{{ grid_id }}subOptions
      }
    });
  }

  function addContent(element, data, html) {
    if (isDict({{ grid_id }}elements)) {
      {{ grid_id }}elements[element] = new_element_data;
    } else {
      var elem = {};
      elem[element] = new_element_data;
      {{ grid_id }}elements = elem;
    }


    {{ grid_id }}elements[element] = data;

    {{ grid_id }}grid.addWidget({
      x: 0,
      y: 0,
      w: 4,
      h: 1,
      id: element,
      content: html,
      cellHeight: 65,
      margin: 5,
      minRow: 1, // don't collapse when empty
      acceptWidgets: true,
      removable: '.trash'
    })

    $('.clarama-embedded').load();
  }


  function saveGrid() {
    savedgrid = {{ grid_id }}grid.save(false, true);

    serializedData = {
      'grid': savedgrid,
      'elements': {{ grid_id }}elements
    };

    return serializedData;
  }

  function add_selected_content(element_render_url) {
    selected_val = "./" + $("#add_content_addfield").val();
    console.log("adding " + selected_val);

    if (selected_val == null) {
      flash("No file selected!")
    } else {
      // Find a unique element id
      var element_id = 0;
      var element_found = false;
      do {
        element = "element_" + element_id;

        if (element in {{ grid_id }}elements)
          element_id = element_id + 1;
        else
          element_found = true;
      }
      while (!element_found);

      console.log("element " + element);

      // Now add the element

      new_element_data = {"url": selected_val}

      slate_data = saveGrid();

      if (isDict(slate_data['elements'])) {
        slate_data['elements'][element] = new_element_data;
      } else {
        var elem = {};
        elem[element] = new_element_data;
        slate_data['elements'] = elem;
      }

      console.log(slate_data)

      $.ajax({
        type: 'POST',
        url: element_render_url + "?element=" + element,
        datatype: "html",
        contentType: 'application/json',
        data: JSON.stringify(slate_data),
        success: function (data) {
          if (data['data'] == 'ok') {
            addContent(element, new_element_data, data['results']);
          } else {
            console.log('Submission was successful.');
            console.log(data);
            flash("Couldn't save content: " + data['error']);
          }
        },
        error: function (data) {
          console.log('An error occurred.');
          console.log(data);
          flash("Couldn't render element content, access denied", "danger");
        }
      })
    }
  }

  function add_selected_file() {
    inputId = $(".gridbrowsefile").attr('inputId');
    const selected_val = $("#add_content_browsefile").val();
    console.log("adding " + selected_val);
  
    if (selected_val == null) {
      flash("No file selected!");
    } else {
      const targetInput = document.getElementById(inputId);
  
      if (targetInput) {
        targetInput.value = $CLARAMA_ROOT +  selected_val;
        flash("File path stored successfully! " + $CLARAMA_ROOT +  selected_val);
      } else {
        flash("Target input field not found!", "danger");
      }
    }
  }

  function save(url) {
    slate_data = saveGrid();
    $.ajax({
      type: 'POST',
      url: url,
      datatype: "html",
      contentType: 'application/json',
      data: JSON.stringify(slate_data),
      success: function (data) {
        if (data['data'] == 'ok') {
          console.log('Submission was successful.');
          console.log(data);
          flash("Saved!");
        } else {
          console.log('Submission was successful.');
          console.log(data);
          flash("Couldn't save content: " + data['error']);
        }
      },
      error: function (data) {
        console.log('An error occurred.');
        console.log(data);
        flash("Couldn't save content, access denied", "danger");
      }
    })
  }

  function link_elements(target, linked) {
    var value = $("#" + target + "_" + linked).is(':checked');
    // flash("linking " + target + " to " + linked + " with " + value);

    if (linked in {{ grid_id }}elements) {

      if (target in {{ grid_id }}elements) {
        var element = {{ grid_id }}elements[target];

        if (!(element.hasOwnProperty("links"))) {
          element['links'] = []
        }


        if (value) if (!(element['links'].includes(linked))) element['links'].push(linked);
        if (!(value))
          if (element['links'].includes(linked)) {
            element['links'].splice(element['links'].indexOf(linked), 1);
          }

        flash("linking " + target + " to [" + element['links'] + "]");
      }
    }
  }
    // Extract the current directory depth
    const currentPath = "{{ file_url | path }}";
    var relativePath;
    function renderBreadcrumb(path, breadcrumbId, selectId) {
      console.log(path)
      const targetPath = path.split('?')[0].split('/').slice(3).join('/');
      relativePath = getRelativePath(currentPath, targetPath);

      const breadcrumb = document.getElementById(breadcrumbId);
      breadcrumb.innerHTML = '';
      const trimmedPath = path.split('/').slice(5); // Remove the first 5 parts
      trimmedPath.forEach((part, index, array) => {
        console.log(part)
          const li = document.createElement('li');

          if (index < array.length - 1) {
            li.style.cursor = 'pointer';
            li.className = 'text-secondary';
            li.addEventListener('click', () => navigateToPath(path.split('/').slice(0, index + 6).join('/') + "?subfolders=True&extensions=" + filters, breadcrumbId, selectId));
            li.innerHTML = part + "&nbsp;>&nbsp;";
          } else {
            li.innerText = part.split('?')[0];
          }
          breadcrumb.appendChild(li);
      });
    }

    function getRelativePath(from, to) {
      const fromParts = from.split('/').filter(Boolean);
      const toParts = to.split('/').filter(Boolean);
      // Find common root
      let i = 0;
      while (i < fromParts.length && i < toParts.length && fromParts[i] === toParts[i]) {
          i++;
      }

      // How many levels to go up from `from`
      const upLevels = fromParts.length - i; // eg. if this is 6-4 = 2
      const goUp = Array(upLevels).fill('..').join('/'); // this will be ../../

      // Navigate down to `to`
      const goDown = toParts.slice(i).join('/'); // extracts the remaining thats not common

      if (!goUp && !goDown) {
        return '.'
      }
      
      return goUp ? `${goUp}/${goDown}` : goDown; // if no goUp means we r in the correct folder
    }

    function renderFilesNFolder(path, breadcrumbId, selectId) {
      const selectElement = document.getElementById(selectId);
      fetch(path)
        .then((response) => response.json())
        .then((json_files) => {
          $(`#${selectId}`).empty();
          const allPaths = json_files['results']['files'];
          const foldersSet = new Set();
          const filesSet = new Set();
          console.log("All paths:", allPaths);

          // Determine folders and files
          allPaths.forEach(filePath => {
            console.log("File path:", filePath);
            const parts = filePath.split('/');
            if (parts.length > 1) {
              foldersSet.add(parts[0]); // Top-level folder
            } else {
              filesSet.add(filePath); // Root-level file
            }
          });

          // Render folders
          foldersSet.forEach(folder => {
            const option = document.createElement('option');
            option.value = folder;
            option.className = "bi bi-folder-fill";
            option.innerHTML = `&nbsp; ${folder}`;
            option.addEventListener('dblclick', () => navigateToPath(`${path.split('?')[0]}/${folder}` + "?subfolders=True&extensions=" + filters, breadcrumbId, selectId));
            selectElement.appendChild(option);
          });

          // Render files with relative paths
          allPaths.forEach(filePath => {
            if (!foldersSet.has(filePath.split('/')[0])) { // Ensure it's not a folder
              const option = document.createElement('option');
              option.value = relativePath + "/" + filePath; // Store relative path in the value

              let matchedIcon = Object.entries(filetypeCSS)
                .find(([ext, _]) => filePath.endsWith(ext));
              if (!matchedIcon) {
                const simpleExt = `.${filePath.split('.').pop()}`;
                matchedIcon = filetypeCSS[simpleExt] ? [simpleExt, filetypeCSS[simpleExt]] : null;
              }
              const icon = matchedIcon ? matchedIcon[1] : "bi-file-earmark";
              option.className = `bi ${icon}`;

              option.innerHTML = `&nbsp; ${filePath}`;
              selectElement.appendChild(option);
            }
          });
        });
    }

    // Function to navigate to a specific path
    function navigateToPath(path, breadcrumbId, selectId) {
      renderBreadcrumb(path, breadcrumbId, selectId);
      renderFilesNFolder(path, breadcrumbId, selectId);
    }

</script>
