<div id="grid-elem-dropdown-{{ target }}" class="dropdown col-auto align-middle tight" style="position: absolute; top: 4px; right: 3px;">
    <i class="bi bi-three-dots-vertical element_editor grid-elem-menu" data-bs-toggle="dropdown" aria-expanded="false" target="{{ target }}"
        elems="{{ elements }}"></i>
    <ul class="dropdown-menu embedded-dropdown-menu ">
        <li><a class="dropdown-item" href="/content/edit/{{ element_content_url }}" target="new"><i
                class="bi bi-pencil-square"></i> Edit {{ target_element['url'] }}</a></li>
        <li><a class="dropdown-item" href="#" onclick="delete_element('{{ target }}');"><i class="bi bi-trash"></i>
            Remove Element</a></li>
        {% if field %}
            <li class="dropdown-item"><select class="form-control">
                <option id="text_left">Left-Aligned Text</option>
                <option id="text_right">Right-Aligned Text</option>
                <option id="text_top">Text appears on top</option>
                <option id="text_bottom">Text appears underneath</option>
                <option id="tight">Grouped. Text appears on left, boxed, with a</option>
                <option id="tight">Tight (small, title only)</option>
                <option id="basic">Basic (No text shown)</option>
            </select></li>
        {% else %}
            <li class="dropdown-item d-flex">
                <input type="checkbox" {{ get_checked }} id="{{ target }}_refresh" class="me-1">
                <label class="form-check-label">Auto-Refresh Task</label>
            </li>
        {% endif %}
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><h6 class="dropdown-header">Interactions: 
            <!-- <i class="bi bi-plus-circle elem-hover elemaddinteraction"
                style="font-size: .8rem !important; cursor: pointer;"
                data-bs-toggle="modal"
                data-bs-target="#addInteractions"
                target="{{ target }}"
                elems="{{ elements }}">
            </i>  
            <select id="add_content_interactions"
                name="add_interactions"
                class="form-select">
            </select>-->
            </h6>
            <div class="dropdown-item align-items-center gap-2" id="grid-menu-select-{{ target }}" target="{{ target }}">
                <select id="add_content_interactions-{{ target }}" class="form-select" name="add_interactions" style="width: auto;"></select>
                <i class="bi bi-plus-circle elem-hover"
                    style="cursor: pointer;"></i>
            </div>
                
        </li>
        <div class="grid_element_target">
            {% for element, value in elements.items() %}
                {% if 'links' in elements[target] %}
                    {% if element in elements[target]['links'] %}
                        <li class="dropdown-item slate-elem-dropdown-item" elem-id="{{ element }}">
                            <div class="list-group-item d-flex align-items-center">
                                <i class="bi bi-grip-vertical draggable-heading p-0" draggable="true"></i>
                                <!-- <input type="checkbox" class="big-checkbox form-check-input" checked
                                    id="{{ target }}_{{ element }}"
                                    onClick="link_elements('{{ target }}','{{ element }}');"> -->
                                <div class="mx-2 flex-grow-1 w-100 align-middle">{{ elements[element]['url'] or '' }}</div>
                                <i class="bi bi-folder-symlink mx-1 mx-2 gridbrowsefile"
                                    data-bs-toggle="modal" data-bs-target="#browseFileModal" action="grid-elem" target="{{ target }}"
                                    filters="*.field.yaml|*.task.yaml|*.md"></i>
                                <i class="bi bi-trash p-0" onClick="link_elements('{{ target }}','{{ element }}', false);"></i>
                            </div>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </ul>
</div>