<li class=" chart-series-formats">
    <div class=" list-group-item d-flex align-items-center">
        <label for="nrx{{ loop_index }}" class="form-label">Series Name /
            Regex</label>
        <input type="string" class="form-control format-nrx" id="x{{ loop_index }}" name="x"
               value="{{ sformat['format-nrx'] }}" data-toggle="tooltip"
               title="Either the entire series name, or a RegEx. <br/><br/>RegEx examples include: <br/><b>/Wash/</b> which will search for all series containing Wash.<br/><b>/^Wash/</b> - all series starting with Wash. ">
        <label for="title{{ loop_index }}" class="form-label">Display Name</label>
        <input type="string" class="form-control format-title" id="title{{ loop_index }}" name="title"
               value="{{ sformat['format-title'] }}" data-toggle="tooltip"
               title="Name displayed on the chart legend">
        <label for="f{{ loop_index }}" class="form-label">Filled</label>
        <input type="checkbox" class="form-check-input format-f" id="f{{ loop_index }}" name="f" {% if
        sformat['format-f'] %}checked{% endif %}>
        <label for="p{{ loop_index }}_{{ series_index }}" class="form-label">Stepped</label>
        <input type="checkbox" class="form-check-input format-p" id="p{{ loop_index }}" name="p" {% if
        sformat['format-p'] %}checked{% endif %}>
        <label for="dt{{ loop_index }}" class="form-label">Dotted</label>
        <input type="checkbox" class="form-check-input format-dt" id="dt{{ loop_index }}" name="dt"
               {% if sformat['format-dt'] %}checked{% endif %}>
        <label for="pr{{ loop_index }}" class="form-label">Point Size</label>
        <input type="number" step="1" min="0" max="100" class="form-control format-pr"
               id="pr{{ loop_index }}" name="pr" value="{{ sformat['format-pr'] }}" data-toggle="tooltip"
               title="Set to 0 to disable points">
        <label for="lw{{ loop_index }}" class="form-label">Line Width</label>
        <input type="number" step="1" min="0" max="100" class="form-control format-lw"
               id="lw{{ loop_index }}" name="lw" value="{{ sformat['format-lw'] }}" data-toggle="tooltip"
               title="Set to 0 to disable lines">
        <label for="col{{ loop_index }}" class="form-label">Colour</label>
        <div class="color-picker-container d-flex align-items-center">
            <select class="form-control format-col" id="col{{ loop_index }}" name="color"
                    style="background-color: {{ sformat['format-col'] }}; ">
                <option value="" {%- if sformat['format-col']=="" -%}selected{%- endif -%}>Default
                </option>
                <option value="rgb(255, 99, 132)"
                        {%- if sformat['format-col']=="rgb(255, 99, 132)" -%}selected{%- endif -%}>
                    Red
                </option>
                <option value="rgb(255, 159, 64)"
                        {%- if sformat['format-col']=="rgb(255, 159, 64)" -%}selected{%- endif -%}>
                    Orange
                </option>
                <option value="rgb(255, 205, 86)"
                        {%- if sformat['format-col']=="rgb(255, 205, 86)" -%}selected{%- endif -%}>
                    Yellow
                </option>
                <option value="rgb(75, 192, 192)"
                        {%- if sformat['format-col']=="rgb(75, 192, 192)" -%}selected{%- endif -%}>
                    Green
                </option>
                <option value="rgb(54, 162, 235)"
                        {%- if sformat['format-col']=="rgb(54, 162, 235)" -%}selected{%- endif -%}>
                    Blue
                </option>
                <option value="rgb(153, 102, 255)"
                        {%- if sformat['format-col']=="rgb(153, 102, 255)" -%}selected{%- endif -%}>
                    Purple
                </option>
                <option value="rgb(201, 203, 207)"
                        {%- if sformat['format-col']=="rgb(201, 203, 207)" -%}selected{%- endif -%}>
                    Grey
                </option>
                <option value="rgb(128, 128, 128)"
                        {%- if sformat['format-col']=="rgb(128, 128, 128)" -%}selected{%- endif -%}>
                    Medium Grey
                </option>
                <option value="rgb(64, 64, 64)"
                        {%- if sformat['format-col']=="rgb(64, 64, 64)" -%}selected{%- endif -%}>
                    Dark Grey
                </option>
                <option value="rgb(20, 20, 20)"
                        {%- if sformat['format-col']=="rgb(20, 20, 20)" -%}selected{%- endif -%}>
                    Black
                </option>
                {% if sformat['format-col'].startswith('#') %}
                    <option value="{{ sformat['format-col'] }}" selected>{{ sformat['format-col'] }}</option>
                {% else %}
                    <option value="custom">Custom Colour</option>
                {% endif %}
            </select>
            <i class="bi bi-three-dots-vertical ellipsis"></i>
            <input type="color" selected="format-col" class="form-control format-col-picker"
                   id="col{{ loop_index }}"
                   name="cc" value="{{ sformat['format-col'] }}">
        </div>
        <label for="col-back{{ loop_index }}" class="form-label">Fill Colour</label>
        <div class="color-picker-container d-flex align-items-center">
            <select class="form-control format-col-back" id="col-back{{ loop_index }}"
                    name="color-back" style="background-color: {{ sformat['format-col-back'] }}; ">
                <option value="" {%- if sformat['format-col-back']=="" -%}selected{%- endif -%}>
                    Default
                </option>
                <option value="rgb(255, 99, 132)"
                        {%- if sformat['format-col-back']=="rgb(255, 99, 132)" -%}selected{%- endif -%}>
                    Red
                </option>
                <option value="rgb(255, 159, 64)"
                        {%- if sformat['format-col-back']=="rgb(255, 159, 64)" -%}selected{%- endif -%}>
                    Orange
                </option>
                <option value="rgb(255, 205, 86)"
                        {%- if sformat['format-col-back']=="rgb(255, 205, 86)" -%}selected{%- endif -%}>
                    Yellow
                </option>
                <option value="rgb(75, 192, 192)"
                        {%- if sformat['format-col-back']=="rgb(75, 192, 192)" -%}selected{%- endif -%}>
                    Green
                </option>
                <option value="rgb(54, 162, 235)"
                        {%- if sformat['format-col-back']=="rgb(54, 162, 235)" -%}selected{%- endif -%}>
                    Blue
                </option>
                <option value="rgb(153, 102, 255)"
                        {%- if sformat['format-col-back']=="rgb(153, 102, 255)" -%}selected{%- endif -%}>
                    Purple
                </option>
                <option value="rgb(201, 203, 207)"
                        {%- if sformat['format-col-back']=="rgb(201, 203, 207)" -%}selected{%- endif -%}>
                    Grey
                </option>
                <option value="rgb(128, 128, 128)"
                        {%- if sformat['format-col-back']=="rgb(128, 128, 128)" -%}selected{%- endif -%}>
                    Medium Grey
                </option>
                <option value="rgb(64, 64, 64)"
                        {%- if sformat['format-col-back']=="rgb(64, 64, 64)" -%}selected{%- endif -%}>
                    Dark Grey
                </option>
                <option value="rgb(20, 20, 20)"
                        {%- if sformat['format-col-back']=="rgb(20, 20, 20)" -%}selected{%- endif -%}>
                    Black
                </option>
                {% if sformat['format-col-back'].startswith('#') %}
                    <option value="{{ sformat['format-col-back'] }}" selected>{{ sformat['format-col-back'] }}</option>
                {% else %}
                    <option value="custom">Custom Colour</option>
                {% endif %}
            </select>
            <i class="bi bi-three-dots-vertical ellipsis"></i>
            <input type="color" selected="format-col-back" class="form-control format-col-picker-back"
                   id="col-back{{ loop_index }}"
                   name="cc" value="{{ sformat['format-col-back'] }}">
        </div>

        <i class="bi bi-trash ps-3 cell-delete-series-format data-cell-icon-hover remove"></i>
    </div>
</li>